.navbar{
     background: linear-gradient(#D38312, #A83279);
}

.login{
    color: white;
}
.caret{
    color: yellow;
}

.nav{
    padding-right: 600px;

}


#login-dp{
    min-width: 450px;
    padding: 14px 20px 0;
    overflow:hidden;
    background-color:rgba(236, 240, 241,.8);
}
#login-dp .help-block{
    font-size:14px    
}
#login-dp .bottom{
    background-color:rgba(215, 219, 221,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}


